@page "/"

<PageTitle>T'au Command</PageTitle>

<div class="text-center mt-5">
    <h1>For the Greater Good</h1>
    <p class="lead">Welcome, Shas'O. Your cadre is ready for inspection.</p>

    <div class="mt-4">
        <a href="roster" class="btn btn-lg btn-primary" style="background-color: #d35400; border-color: #e67e22;">
            View Army Roster
        </a>
    </div>
</div>